img {
	width: auto;
	height: 150px;
	box-shadow: 2px 2px 4px #000000;
	margin-left: 15px;
}

nav img {
	width: auto;
}

video {
	width: 320px;
	height: auto;
	box-shadow: 2px 2px 4px #000000;
	margin-left: 15px;
}

iFrame {
	width: 320px;
	height: auto;
	box-shadow: 2px 2px 4px #000000;
	margin-left: 15px;
}

body {
	background-color: grey;
}

h1 {
  	color: white;
  	text-shadow: 2px 2px 4px #000000;
  	text-align: center;
	font-size: 100px;
	font-family: 'PressuruRegular';
   	font-weight: normal;
   	font-style: normal;
}

h2 {
	color: white;
  	text-shadow: 2px 2px 4px #000000;
	font-family: 'PressuruRegular';
   	font-weight: normal;
   	font-style: normal;
}

p {
	color: white;
  	text-shadow: 2px 2px 4px #000000;
 	font-size: 20px;
	margin-left: 15px;
	font-family: 'PressuruRegular';
   	font-weight: normal;
   	font-style: normal;
}

button {
	box-shadow: 2px 2px 4px #000000;
}
nav{
background-color: ;
overflow: hidden;height: 50px;">
}

.third {
	box-shadow: 2px 2px 4px #000000;
}

.name_style{
	background-image: url("https://i.pinimg.com/600x315/ab/68/e7/ab68e73ad4e8a206670d0bc44a3e5ad6.jpg");
	height: 315px;
	width: auto;
}

.name_style h1{
	padding-top: 99px;
}

.flex{
	text-align: center;
}